**/*.qmd-pure
**/*/target
**/output-rmpp
examples/manhuagui/backend/target
examples/manhuagui/output
examples/manhuagui/output-rmpp
applications_root/sst
xovi
*.cpp
*.h
*.o
Makefile
appload
.qmake.stash
